parameters:
    level: 9
    paths:
        - ../../src/
        - ../../examples/
    excludePaths:
        - ../../examples/graphviz.php
    ignoreErrors:
        -
            identifier: missingType.generics
    treatPhpDocTypesAsCertain: false
